* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.tamaño {
    height: 120px;
    width: 90px;
}
.galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    min-height: 100vh;
}
@media (max-width:576px) {
    .galeria{ 
        grid-template-columns: 1fr;
    }
}
@media (min-width:576px) {
    .galeria {grid-template-columns: 1fr 1fr;}
}
@media (min-width:768px) {
    .galeria {grid-template-columns: 1fr 1fr 1fr 1fr;}
}
@media (min-width:992px){
    .galeria {grid-template-columns: repeat(6, 1fr);}
}
