* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.tamaño {
    height: 90px;
    width: 60px;
}
.galeria {
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 1fr;
}
@media (min-width:576px) {
    .galeria{ 
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:768px) {
    .galeria {grid-template-columns: 1fr 1fr 1fr;}
}
@media (min-width:992px) {
    .galeria {grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
}